body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
}

.titulo {
    color: #32b9cd;
    width: fit-content;
    font-weight: 500;
}

.navbar {
    width: 300px;
    color: #e3b062;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a{
    color: #e3b062;
    text-decoration: solid;
}

.navbar a:hover{
    color: #32b9cd;
}
.header {
    border-bottom: 3px solid #32b9cd;
}

.container {
    width: 80%;
    margin: auto;
    display: flex;
}

.header .container {
    justify-content: space-between;
}

.banner{
    background-image: url("./assets/imagens/bg-jelly-fish-para_outras_pags.png");
    height: 655px;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.banner .container{
    justify-content: center;
    align-items: center;
    height: 100%;
}


.banner .container .cadastro {
    font-size: 20px;
    width: 50%;
}
.cadastro{
    background-color: #f7f7f7;
    width: 45%;
    height: 95%;
    color: rgb(223, 105, 144);
    display: flex;
    justify-content:space-around;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
}

.input {
    border-radius: 8px;
    border-style: inset;
    border-color: #32b9cd;
    text-align: center;
    width: 250px;
    height: 20px;
    margin-top: 5px;
}

.button{
    background-color: rgb(223, 105, 144);
    color: rgba(255, 255, 255, 0.775);
    border-radius: 5px;
    width: 150px;
    height: 40px;
    text-align: center;
    border: none;
    font-size: large;
}

.button:hover{
    background-color: #32b9cd;
}